<html>
  <body>
    <p>Coche Nuevo main page</p><br><br>
    <a href='http://coche.dnip.net/nuevo/carlist/'>List</a><br><br>
    <a href='http://coche.dnip.net/nuevo/address/82'>Address(KR)</a><br><br><br>
    <a href='http://coche.dnip.net/nuevo/buyrequest/'>New Buy Request</a><br><br>
    <a href='http://coche.dnip.net/nuevo/buychange/'>New Buy Change</a><br><br>
    <a href='http://coche.dnip.net/nuevo/register/'>Dealer Register</a><br><br>
    <a href='http://coche.dnip.net/nuevo/login/'>Dealer Login</a><br><br>
    <a href='http://coche.dnip.net/nuevo/buylist/'>Search Buy</a><br><br>
  </body>
</html>
