<html>
<body>
{% if trims %}
    Trims are available.<br><br>
    <table border=1 cellpadding=5 cellspacing=2>
    <tr>
        <td>MID</td>
        <td>MNAME</td>
        <td>CID</td>
        <td>CNAME</td>
        <td>TID</td>
        <td>TNAME</td>
    </tr>
    {% for trim in trims %}
    <tr>
        <td>{{ trim.car.maker.id }}</td>
        <td>{{ trim.car.maker.name }}</td>
        <td>{{ trim.car.id }}</td>
        <td>{{ trim.car.name }}</td>
        <td>{{ trim.id }}</td>
        <td>{{ trim.name }}</td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No cars are available.</p>
{% endif %}
</body>
</html>
