<html>
<body>
{% if cars %}
    Cars are available.<br><br>
    <table border=1 cellpadding=5 cellspacing=2>
    <tr>
        <td>MID</td>
        <td>MNAME</td>
        <td>CNID</td>
        <td>CNAME</td>
        <td>CID</td>
        <td>TRIM</td>
    </tr>
    {% for car in cars %}
    <tr>
        <td>{{ car.cnid.mid.mid }}</td>
        <td>{{ car.cnid.mid.mname }}</td>
        <td>{{ car.cnid.cnid }}</td>
        <td>{{ car.cnid.cname }}</td>
        <td>{{ car.cid }}</td>
        <td>{{ car.trim }}</td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No cars are available.</p>
{% endif %}
</body>
</html>
